@use '../mixins' as *;
@use '../variables' as *;

.section
{
    min-width: initial;
    min-height: initial;
    @include border;
    padding: 15px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: transform 0.2s;

    &:hover
    {
        transform: scale(1.1) translateY(-5px);
    }

    &.large
    {
        grid-column: span 2;
        grid-row: span 2;
    }

    &.tall
    {
        grid-column: span 1;
        grid-row: span 2;
        aspect-ratio: unset;
    }

    &.wide
    {
        grid-column: span 2;
        grid-row: span 1;
        aspect-ratio: unset;
    }

    &.expanded
    {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 80vw; // Adjust the width as needed (e.g., 70vw for a smaller box)
        height: 90vh; // Almost full height but not entirely
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.9);
        transform: translate(-50%, -50%); // Center it properly
    }

    *:not(img)
    {
        background-color: transparent;
    }
}