// Set debug mode (set to true for debug mode)
$debug: false;

// Import additional modules if needed.
@use 'crt';

// Font definitions
@font-face
{
    font-family: mainFont;
    src: url('../../fonts/smollerMono.ttf');
}

@font-face
{
    font-family: headerFont;
    src: url('../../fonts/smollerMono.ttf');
}

@font-face
{
    font-family: nadrooiFont;
    src: url('../../fonts/visitor2.ttf');
}

// CSS Variables for colors
:root
{
    --c1: #f2fbeb;
    --c2: #171219;
}

// Mixins for borders
@mixin border
{
    border: 16px solid transparent;
    border-image: url('../../media/border.png') 25% round;
}

@mixin border3
{
    border: 16px solid transparent;
    border-image: url('../../media/border3.png') 25% round;
}

// Debug mixin to conditionally add borders
@mixin debug-border($color)
{
    @if $debug
    {
        border: 1px solid $color;
    }
}

// Global styles
*
{
    font-family: mainFont;
    font-weight: normal;
    color: var(--c1);
    background-color: var(--c2);
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility !important;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    font-size: 16px;
    line-height: 16px;
    font-smooth: never;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
}

html,
*
{
    scroll-behavior: smooth !important;
}

// Flash animation
.flash
{
    animation: flash-bg 1s;
}

@keyframes flash-bg
{
    0%
    {
        background-color: var(--c1);
    }

    100%
    {
        background-color: inherit;
    }
}

// Layout styles
#page
{
    @include debug-border(green);
    width: 70%;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.pageSection
{
    @include debug-border(yellow);
    float: left;
    flex: 1 1 30%;
    padding: 10px;
    margin-right: 10px;

    &:not(#container)
    {
        @include border3;
    }
}

#jtnadrooi
{
    @include border3;
    width: 100%;
    margin-bottom: 10px;
    line-height: 100px;
    font-size: 10vw;
    text-align: center;
    font-family: nadrooiFont;
}

#container
{
    @include debug-border(blue);
    min-width: 200px;
    padding: 0;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
    max-width: 100%;
    column-gap: 10px;
    row-gap: 10px;
}

.section
{
    min-width: initial;
    min-height: initial;
    @include border;
    padding: 15px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &.large
    {
        grid-column: span 2;
        grid-row: span 2;
    }

    &.tall
    {
        grid-column: span 1;
        grid-row: span 2;
        aspect-ratio: unset;
    }

    &.wide
    {
        grid-column: span 2;
        grid-row: span 1;
        aspect-ratio: unset;
    }

    *:not(img)
    {
        background-color: transparent;
    }
}

button
{
    @include border3;
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
}

h1
{
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    font-family: headerFont;
    margin-top: -8px;
}

img
{
    float: left;
    margin: 0 10px 0 0;

    &.smallImg
    {
        width: min(30%, 40px);
        height: auto;
    }

    &.medImg
    {
        width: min(60%, 80px);
        height: auto;
    }

    &.screenshot
    {
        width: 90%;
        height: auto;
        @include border3;
    }
}

ul
{
    margin-left: max(20px, 10%);
    list-style-type: square;
}

#sideView
{
    flex: 0.1 0.1 10%;
}

@media screen and (max-width: 900px)
{
    #sideView
    {
        display: none;
    }
}

@media screen and (min-width: 1400px)
{
    #page
    {
        width: 80%;
    }
}